In [1]:
# need to use updated master JupiterCVML code
import sys
# sys.path.append('/home/li.yu/code/JupiterCVML/europa/base/src/europa')

import os
os.environ["BRT_ENV"] = 'prod'
import json
import random
import brtdevkit
print(brtdevkit.__version__)
brtdevkit.log = 'info'
import os
os.environ['AWS_PROFILE'] = 'default'

import time
import numpy as np
import pandas as pd
from datetime import datetime, timezone

from brtdevkit.core.db.athena import AthenaClient, Table
from brtdevkit.data import Image, Dataset

# from aletheia_dataset_creator.dataset_tools.aletheia_dataset_helpers import *
# from aletheia_dataset_creator.config.dataset_config import *

from jupiterdata.config.dataset_config import *
from jupiterdata.utils.dataset import *

pd.set_option('display.max_columns', None)

# %matplotlib inline
%load_ext autoreload
%autoreload 2

7.16.2

/home/li.yu/anaconda3/envs/brtdevkit/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
"""
eval "$(/home/li.yu/anaconda3/bin/conda shell.bash hook)"
conda activate brtdevkit
run this on cmd: brt-devkit-auth
"""
import inspect
print(inspect.getmodule(Dataset))
print(LEFT_CAMERAS)
print(ALL_CAMERA_PAIRS_LIST)

<module 'brtdevkit.data.core.dataset' from '/home/li.yu/anaconda3/envs/brtdevkit/lib/python3.9/site-packages/brtdevkit/data/core/dataset.py'>
['front-center-left', 'front-left-left', 'front-right-left', 'side-left-left', 'side-right-left', 'rear-left', 'T01', 'T02', 'T05', 'T06', 'T09', 'T10', 'T13', 'T14', 'I01', 'I02']
[{'front-center-left': 'front-center-right', 'front-left-left': 'front-left-right', 'front-right-left': 'front-right-right', 'side-left-left': 'side-left-right', 'side-right-left': 'side-right-right', 'rear-left': 'rear-right', 'front-center-right': 'front-center-left', 'front-left-right': 'front-left-left', 'front-right-right': 'front-right-left', 'side-left-right': 'side-left-left', 'side-right-right': 'side-right-left', 'rear-right': 'rear-left'}, {'T01': 'T03', 'T02': 'T04', 'T05': 'T07', 'T06': 'T08', 'T09': 'T11', 'T10': 'T12', 'T13': 'T15', 'T14': 'T16', 'I01': 'I03', 'I02': 'I04'}, {'T02': 'T03', 'T06': 'T07', 'T10': 'T11', 'T14': 'T15', 'I02': 'I03'}]

In [3]:
# test_dataset = Dataset.retrieve(id='64ed2657926aefcd654e8269')
test_dataset = Dataset.retrieve(name='Jupiter_airborne_debris_night')
print(test_dataset.id)
test_df = test_dataset.to_dataframe()
test_df.shape

65f36b81573bb58210686892

2024-04-02 13:05:46,813 - APIRequestor - ERROR - API error received | error_code : 403, error_message : {'extra': {'role_name': 'token_exchange'}, 'message': 'Role token_exchange is required to make this API call'}
WARNING:root:Failed to refresh AWS Credential
WARNING:root:Some functionalities (S3, Athena, etc) not useable {'extra': {'role_name': 'token_exchange'}, 'message': 'Role token_exchange is required to make this API call'}

(177, 158)

In [6]:
test_df[['id', 'camera_location']].groupby('camera_location').count()

                   id
camera_location
T01               913
T02               413
T05              1218
T06               654
T09              1428
T10              1157
T13               501
T14               986

In [2]:
datasets = [
    '20240119_halo_rgb_left_day_less_night_al_to_label',
    '20240119_halo_rgb_diversity_left_daytime',
    '20231219_halo_rgb_al_to_label',
    '20231219_halo_rgb_diversity_to_label',
    '20231206_halo_rgb_diversity_train_to_label_pt1',
    '20231206_halo_rgb_al_train_to_label_pt1',
    '20231206_halo_rgb_stereo_fps_dedup',
    '20231219_halo_rgb_stereo_fps_dedup',
]
test_dfs = []
for dataset in datasets:
    test_dataset = Dataset.retrieve(name=dataset)
    test_df = test_dataset.to_dataframe()
    print(dataset, test_df.shape)
    test_dfs.append(test_df)
pd.concat(test_dfs, ignore_index=True).to_csv('/data/jupiter/li.yu/data/halo_hard_cases/20231206_20231219_sent_for_labeling.csv', index=False)

20240119_halo_rgb_left_day_less_night_al_to_label (7457, 146)
20240119_halo_rgb_diversity_left_daytime (4128, 146)
20231219_halo_rgb_al_to_label (7552, 147)
20231219_halo_rgb_diversity_to_label (1375, 144)
20231206_halo_rgb_diversity_train_to_label_pt1 (4955, 157)
20231206_halo_rgb_al_train_to_label_pt1 (17049, 157)
20231206_halo_rgb_stereo_fps_dedup (15319, 158)
20231219_halo_rgb_stereo_fps_dedup (5584, 147)

## Run Athena Query

In [5]:
# hard_drive_name = 'JUPD-048_2022-09-27'
start_datetime  = datetime(2021, 12, 16, hour=22, minute=14, second=0) #, tzinfo=timezone.utc)
end_datetime  = datetime(2021, 12, 16, hour=22, minute=14, second=35) #, tzinfo=timezone.utc)
# start_datetime  = datetime(2022, 9, 28, tzinfo=timezone.utc) #, hour=3, minute=33, second=33) #, tzinfo=timezone.utc)
# start_datetime  = datetime(2023, 8, 28, hour=0, minute=0)   #, tzinfo=timezone.utc)
# end_datetime    = datetime(2023, 8, 30, hour=23, minute=59)  # this is EXclusive

database = "mesa-data-catalog-prod"
table = "image_jupiter"

# query = \
# f"""
# SELECT *
# FROM {table} T
# WHERE 
#     T.collected_on >= cast('{start_datetime}' as timestamp)
#     AND T.collected_on < cast('{end_datetime}' as timestamp)
#     AND T.robot_name = 'loamy_733'
# """

query = \
f"""
SELECT *
FROM {table} T
WHERE 
    T.hard_drive_name = 'JUPD-0306_2024-2-28'
"""

query = """
SELECT id, image, properties__json FROM annotation_jupiter
WHERE style = 'categorical'
AND created_at > date('2024-01-01')
AND state in ('review', 'ok')
AND (properties__json LIKE '%"title": "Pose"%' OR properties__json LIKE '%"title": "Human Clothing"%' OR properties__json LIKE '%"title": "Human Occlusion"%') 
AND kind = 'labelbox'
"""

# """
# SELECT
#         *
#     FROM annotation_jupiter
#     WHERE
#      annotation_jupiter.image IN ('642607df1620247e2285d6ac')
# """

# """
# SELECT id, camera_location, operation_time, collected_on, state, county, operating_field_name, hdr_mode, robot_name, special_notes
# T.collected_on >= cast('{start_datetime}' as timestamp)
#     AND T.collected_on < cast('{end_datetime}' as timestamp)
#     AND T.camera_location LIKE 'front-%'
#     AND T.camera_location LIKE '%-left'
#     AND T.hard_drive_name = 'JUPD-154_2023-01-14'
#     AND T.robot_name LIKE 'loamy%'
#     AND T.operation_time != 'daytime'
#     AND T.has_nearby_stop_event = true
# ORDER BY RAND()
# LIMIT 40000
# """

start = time.time()
athena = AthenaClient()
df = athena.get_df(query)
end = time.time()
print(end - start, 's')
df.shape, len(df) // 2

## Run Databricks Query

In [3]:
# from jupiterdata.db import databricks_connector
# databricks = databricks_connector.Databricks()
# # note on json extraction https://docs.databricks.com/en/sql/language-manual/sql-ref-json-path-expression.html
# df = databricks.execute(query)
# print(df.shape, len(df)//2)

query = f"""
SELECT
  mesa_prod.mesa_lake_prod.image_jupiter.id AS id,
  mesa_prod.mesa_lake_prod.image_jupiter.has_human_annotation AS has_human_annotation,
  mesa_prod.mesa_lake_prod.image_jupiter.operation_time AS operation_time,
  mesa_prod.mesa_lake_prod.image_jupiter.camera_location AS camera_location,
  mesa_prod.mesa_lake_prod.image_jupiter.robot_name AS robot_name,
  mesa_prod.mesa_lake_prod.image_jupiter.has_nearby_stop_event AS has_nearby_stop_event,
  mesa_prod.mesa_lake_prod.image_jupiter.operating_field_name AS operating_field_name,
  mesa_prod.mesa_lake_prod.image_jupiter.farm AS farm,
  mesa_prod.mesa_lake_prod.image_jupiter.bag_name AS bag_name,
  mesa_prod.mesa_lake_prod.image_jupiter.closest_object_info__json AS closest_object_info__json,
  mesa_prod.mesa_lake_prod.image_jupiter.collected_on AS collected_on,
  mesa_prod.mesa_lake_prod.image_jupiter.hard_drive_name AS hard_drive_name,
  mesa_prod.mesa_lake_prod.image_jupiter.state AS state,
  mesa_prod.mesa_lake_prod.image_jupiter.special_notes AS special_notes,
  mesa_prod.mesa_lake_prod.image_jupiter.hdr_mode AS hdr_mode,
  mesa_prod.mesa_lake_prod.image_jupiter.group_id AS group_id,
  mesa_prod.mesa_lake_prod.image_jupiter.jdb_s3_path AS jdb_s3_path,
  mesa_prod.mesa_lake_prod.image_jupiter.ros_s3_path AS ros_s3_path,
  mesa_prod.mesa_lake_prod.image_jupiter.bundle AS bundle,
  mesa_prod.mesa_lake_prod.image_jupiter.gps_can_data__json AS gps_can_data__json,
  mesa_prod.mesa_lake_prod.image_jupiter.implement_angle_data__json AS implement_angle_data__json,
  mesa_prod.mesa_lake_prod.image_jupiter.category AS category,
  mesa_prod.mesa_lake_prod.image_jupiter.description AS description,
  mesa_prod.mesa_lake_prod.image_jupiter.autonomy_state__json AS autonomy_state__json,
  mesa_prod.mesa_lake_prod.image_jupiter.sensor_type AS sensor_type,
  mesa_prod.mesa_lake_prod.image_jupiter.geohash AS geohash,
  mesa_prod.mesa_lake_prod.image_jupiter.calibration_data__json AS calibration_data__json,
  mesa_prod.mesa_lake_prod.image_jupiter.tractor_type AS tractor_type
FROM
  mesa_prod.mesa_lake_prod.image_jupiter
WHERE
  hard_drive_name = 'JUPD-0325_2024-3-19'
  AND gps_can_data__json IS NOT NULL
  AND special_notes IS NOT NULL
"""

# hard_drive_name = 'JUPD-0306_2024-2-28'  # first dust collection
# hard_drive_name = 'JUPD-0325_2024-3-19'  # vehicle collection, not necessarily dust
# https://bluerivertechnology.slack.com/archives/C04UNEQ190W/p1711143867529459?thread_ts=1711142618.986079&cid=C04UNEQ190W
# https://bluerivertechnology.slack.com/archives/C06MB47MWUE/p1711145579254259

# query = f"""
# SELECT ANJ.id as id, ANJ.image as image, ANJ.properties__json as properties__json, ANJ.created_at as created_at
# FROM mesa_prod.mesa_lake_prod.annotation_jupiter as ANJ
# WHERE ANJ.style = 'categorical'
# AND ANJ.created_at > date('2024-01-01')
# AND ANJ.state in ('review', 'ok')
# AND (properties__json LIKE '%"title": "Pose"%' OR properties__json LIKE '%"title": "Human Clothing"%' OR properties__json LIKE '%"title": "Human Occlusion"%') 
# AND ANJ.kind = 'labelbox'
# """

# query = f"""
#   SELECT img.id, img.collected_on
#   FROM mesa_prod.mesa_lake_prod.image_jupiter as img
#   JOIN mesa_prod.mesa_lake_prod.image_artifact_jupiter AS A
#       ON A.image = img.id
#   WHERE img.teleop_request__json IS NOT NULL
#   AND img.teleop_request__json:original_roi IS NOT NULL
#   AND NOT EXISTS(
#           SELECT * from mesa_prod.mesa_lake_prod.annotation_jupiter as ann WHERE ann.image = img.id
#           AND ann._cls = 'Annotation.CategoricalAnnotation'
#           AND ann.is_active_version = true
#       )
#   LIMIT 10
#   ;"""


from jupiterdata.utils.dataset import query_db
df = query_db(query)
print(df.shape, len(df)//2)

(520189, 28) 260094

In [12]:
df.to_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/all_human_pose_0326_v4.csv', index=False)

In [5]:
import ast
root_dir = '/data2/jupiter/datasets/'
# dataset = 'halo_rgb_stereo_train_v6_2'
dataset = 'halo_rgb_stereo_train_v8_1'
csv = os.path.join(root_dir, dataset, 'master_annotations.csv')
converters = {"label_map": ast.literal_eval, "label_counts": ast.literal_eval}
# converters = {}
df = pd.read_csv(csv, converters=converters)

# ab_df = df[df.has_airborne == True]
# print(ab_df.shape, ab_df.iloc[0].geohash)
# ab_df["geohash_6"] = ab_df["geohash"].apply(lambda x: x[:6])

df['Birds'] = df['label_counts'].apply(lambda d: d.get('Birds', 0))
df['has_birds'] = df['Birds'] > 0
bird_df = df[df.has_birds == True]
print(bird_df.shape, bird_df.iloc[0].geohash)
bird_df["geohash_6"] = bird_df["geohash"].apply(lambda x: x[:6])

from jupiterdata.utils.dataset import query_db

(1362, 361) 9xjg9cde9btm

/tmp/ipykernel_103657/3024971100.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bird_df["geohash_6"] = bird_df["geohash"].apply(lambda x: x[:6])

In [7]:
LEFT_CAMERAS = ('T01', 'T02', 'T05', 'T06', 'T09', 'T10', 'T13', 'T14', 'I01', 'I02')
geohash_6_limit = 500
geohash_6_expand = 1.5
surround_ids = []
for geohash_6 in bird_df.geohash_6.unique():
    collected_on_days = bird_df[(bird_df.geohash_6 == geohash_6)].collected_on_day.unique()
    for collected_on_day in collected_on_days:
        current = len(bird_df[(bird_df.geohash_6 == geohash_6) & (bird_df.collected_on_day == collected_on_day)].unique_id.unique())
        expand = int(geohash_6_limit / current * geohash_6_expand)
        if expand < 50:
            expand = 50
        elif expand > 500:
            expand = 500

        query = f"""
        SELECT
          IMJ.id AS id,
          IMJ.robot_name AS robot_name,
          IMJ.camera_location AS camera_location,
          IMJ.operating_field_name AS operating_field_name,
          IMJ.bag_name AS bag_name,
          IMJ.collected_on AS collected_on,
          IMJ.hard_drive_name AS hard_drive_name,
          IMJ.geohash AS geohash
        FROM
          mesa_prod.mesa_lake_prod.image_jupiter AS IMJ
        WHERE
          collected_on LIKE '{collected_on_day[:10]}%'
          AND geohash LIKE '{geohash_6}%'
          AND camera_location IN {LEFT_CAMERAS}
        LIMIT {expand};
        """
        df = query_db(query)
        surround_ids += df.id.to_list()
        print(geohash_6, collected_on_day, current, len(df))
    #     break
    # break
    # print('queried geohash_6', geohash_6)

len(surround_ids)

9xjg9c 2023-08-04 13 57
9v5ks7 2023-08-02 153 50
9v5kwy 2023-08-05 2 375
9v5kxj 2023-08-07 20 50
9v5kse 2023-08-02 67 50
9xjg3z 2023-08-05 4 187
9v5kss 2023-08-02 32 50
dp03h5 2023-09-08 3 250
9v5ksk 2023-08-02 22 50
9xjgd0 2023-08-04 4 187
9xjgd0 2023-08-05 1 500
9xjgy5 2023-08-15 8 93
9v5kwu 2023-08-05 9 83
dp03ht 2023-09-09 1 500
9xjg9b 2023-08-04 5 150
9xjg9b 2023-08-05 2 375
9xjg92 2023-07-28 8 93
9xjepp 2023-08-09 2 375
dju21r 2023-08-18 2 375
9v5kxn 2023-08-07 7 107
9xjg3f 2023-08-07 5 150
9xjgy7 2023-08-15 2 375
9xjg8b 2023-08-17 4 187
dju21p 2023-08-18 4 187
9xjg98 2023-07-28 2 375
dp03k9 2023-09-13 3 250
9xjg64 2023-08-07 1 500
9xjg3d 2023-08-07 2 375
9xjgvu 2023-08-15 3 31
9v5kws 2023-08-07 2 375
9v5kwv 2023-08-05 19 50
9xjg9m 2023-08-16 5 150
dp03hx 2023-09-12 4 187
9xjg3r 2023-08-04 1 500
9xjg3r 2023-08-16 1 500
9v5ksd 2023-08-02 5 150
9xjer0 2023-08-09 1 500
dp03k0 2023-09-11 3 250
9v5ks6 2023-08-01 2 375
9v5ks6 2023-08-02 18 50
9xjg6p 2023-08-05 1 500
9xjg3g 2023-08-07 1 500
9xjg5j 2023-08-11 1 500
dp03k3 2023-09-13 4 187
dju21n 2023-08-18 9 83
9v5kw7 2023-08-03 3 250
9v5kw7 2023-08-04 1 500
9xjg93 2023-08-03 4 187
9xjg68 2023-08-14 1 500
dp03hr 2023-09-11 2 375
dp03hr 2023-09-12 2 375
dp03hm 2023-09-09 2 375
9xjeqb 2023-08-09 1 500
9xjg3x 2023-07-27 1 500
dju21q 2023-08-18 3 250
9xjg4x 2023-08-14 1 500
9v6tnw 2023-09-28 1 500
dp4urh 2023-10-02 1 500
dp08s0 2023-10-09 2 375
dp03h7 2023-09-10 2 375
dp0d9x 2023-09-28 5 150
9v5kw5 2023-08-04 2 375
9v5kxh 2023-08-07 3 250
dp4uqu 2023-10-02 1 500
9v5kx5 2023-08-07 1 500
dp0dud 2023-10-08 1 500
dp06zm 2023-10-03 2 375
dp0dug 2023-10-07 1 500
dp0dug 2023-10-05 1 500
dp0dgk 2023-10-09 2 375
dp03hp 2023-09-11 8 93
9v6tx1 2023-09-26 2 375
9v5kwg 2023-08-05 2 375
dp035z 2023-09-11 5 150
dp0duf 2023-10-08 3 250
dp06zs 2023-09-28 3 250
dp0dus 2023-10-07 1 500
dp0dgs 2023-10-09 2 375
dp03k2 2023-09-12 1 500
dp03k2 2023-09-11 2 375
dp03k8 2023-09-12 1 500
dp03k1 2023-09-14 1 500
dp03k1 2023-09-19 2 375
dp0dgm 2023-10-09 3 250
dp06zk 2023-09-28 1 500
dp03h3 2023-09-10 1 500
dp0dgt 2023-10-09 3 250
dp0dut 2023-10-07 2 375
dp0dcb 2023-09-28 1 500
dp03h2 2023-09-10 1 500
9xjgd1 2023-08-04 1 500
9xjgyk 2023-08-14 2 375
9v5kw6 2023-08-03 2 375
dp08tt 2023-10-09 2 375
9v6t5g 2023-09-29 1 500
dp03k6 2023-09-13 1 500
dp03k6 2023-09-14 2 375
9v6tjz 2023-09-26 1 500
dp0due 2023-10-07 1 500
9zkxqd 2023-10-20 2 375
cbhw1z 2023-10-30 1 500
9zsxqq 2023-10-31 25 50
9zkzt5 2023-10-23 1 500
9zkzt5 2023-10-22 1 500
dp5hdu 2023-10-27 1 500
9zkxkw 2023-10-21 1 500
9zsxqn 2023-10-31 20 50
9xjgc6 2023-08-16 1 500
9zmt8e 2023-10-20 2 375
9xjg5r 2023-08-12 1 500
dp5he3 2023-10-31 1 500
9zsxqr 2023-10-31 1 500
9zkxqg 2023-10-20 1 500
9zsxp4 2023-11-11 2 375
cbhw6w 2023-10-06 1 500
9zswyn 2023-11-09 1 500
9zpuuk 2023-11-06 1 500
9zsxp5 2023-11-11 1 500
9zsxqk 2023-10-19 4 187
9zsxqj 2023-10-20 2 375
9zv2se 2023-10-23 1 500
9zsxst 2023-11-13 1 500
9zv2m9 2023-11-06 1 500
9zpuuv 2023-11-04 2 375
9zqsmj 2023-11-09 2 375
9zscv7 2023-11-08 1 500
9zqu01 2023-11-14 1 500
9zpuuu 2023-11-18 1 500
9zpuuu 2023-11-03 2 375
dp5hen 2023-10-27 1 500
9zswyp 2023-11-11 1 500
9zpuug 2023-11-07 2 375
9zmjnp 2023-11-28 4 187
9zmn7g 2023-11-16 1 500
9zmjtb 2023-12-02 1 500
dp72dv 2023-11-13 1 500
9zpuuf 2023-11-07 1 500
9zkzkj 2023-11-01 2 375
9zkz36 2023-11-14 3 250
9zpt0n 2023-11-02 2 375
9zptue 2023-10-24 1 500
9zqskv 2023-11-09 1 500
9zscv6 2023-11-08 2 375
dnd25z 2023-12-13 1 500
dp4uqt 2023-10-02 1 500
9v6tee 2023-09-21 2 375
9zn2nb 2023-12-20 1 500
9ufs6w 2024-02-07 105 50
9ufs6y 2024-02-07 60 50
9ufs6x 2024-02-07 33 50
9ufs6v 2024-02-08 43 50
9z1pgk 2024-03-13 232 50
9z1pg7 2024-03-13 113 50
9z1pgh 2024-03-13 22 50
9q9d4z 2024-02-07 2 375
9ufs6t 2024-02-08 49 50
9zn2n3 2023-12-18 1 500
9ufs6z 2024-02-07 1 500
dp0378 2023-09-22 1 500
9z1pgj 2024-03-12 2 375
9z1pg5 2024-03-13 2 375
dp08ts 2023-10-01 3 250
9q9d4w 2024-02-14 1 500
dp087z 2023-10-10 1 500
9v6tmb 2023-09-26 2 375
dp08gt 2023-10-12 1 500
9zmjjb 2023-12-04 2 375
9zpx3b 2023-09-24 1 500
dp4ux8 2023-10-11 1 500
9zv83h 2023-11-14 1 500

60573

In [8]:
remain_ids = list(set(surround_ids) - set(df.id.to_list()))
print(len(remain_ids))
remain_ids[0]

60073

'654658b46c228e535a897327'

## Create a dataset

In [4]:
# df = pd.read_csv('./dust_threshold/human_vehicle_in_dust_for_train_total.csv')
# df = pd.read_csv('./dust_threshold/dust_productivity.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/driveable_not_labeled.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/less_than_half_labeled.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/less_than_half_or_driveable_not_labeled_for_relabeling.csv')
# df = pd.read_csv('/data/jupiter/li.yu/exps/driveable_terrain_model/rgb_baseline_sample_a_v3_2/20230925_halo_rgb_stereo_train_v3_epoch0/pruned_ids.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/Jupiter_train_v6_2/train_v6_2_categorical_count.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/halo_hard_cases/20231219_20240119_halo_rgb_left_airborne.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/rev1_test_missing_human_pose.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/rev1_test_missing_human_clothing.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/rev1_test_humanv15_day_front_standing_ids.csv')
# df = pd.read_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/train_v8_0_miss_human_pose.csv')
df = pd.read_csv('/data/jupiter/li.yu/data/halo_rgb_stereo_train_test/test_v8_0_miss_human_pose.csv')
print(df.shape, 'id' in df, 'unique_id' in df)

(12837, 1) True False

In [9]:
# unlabeled dataset
Dataset.create(
    name="halo_potential_birds_from_train_8_1",
    description="60073 images potentially contain birds from same geohash6 halo train v8.1",
    kind='image',  # annotation or image
    image_ids=remain_ids)

{}

In [7]:
# imageids_to_dataset(
#     image_ids=test_df[test_df.camera_location.str.endswith('left')].id.to_list(),
#     dataset_name="20230823_labeled_right_images_12k_left_images_labels",
#     dataset_description="left images and labels of 20230823_labeled_right_images_12k",
#     dataset_kind='annotation',  # annotation or image
#     mode='mono',  # stereo or mono
#     camera_location=CORE_LEFT_CAMERAS,  # CORE_LEFT_CAMERAS or CORE_RIGHT_CAMERAS or ALL_CORE_CAMERAS
# )
# imageids_to_dataset(
#     image_ids=test_df[test_df.camera_location.str.endswith('right')].id.to_list(),
#     dataset_name="20230823_labeled_right_images_12k_right_images_labels",
#     dataset_description="right images and labels of 20230823_labeled_right_images_12k",
#     dataset_kind='annotation',  # annotation or image
#     mode='mono',  # stereo or mono
#     camera_location=CORE_RIGHT_CAMERAS,  # CORE_LEFT_CAMERAS or CORE_RIGHT_CAMERAS or ALL_CORE_CAMERAS
# )

In [8]:
# # in master branch halo datasets
# annotations = imageids_to_annotation_df(
#     image_ids=df.id.to_list(),
# )

imageids_to_dataset(
    image_ids=test_df.id.to_list(),
    dataset_name="halo_potential_airborne_debris_from_train_6_2_labeled",
    dataset_description="labeled airborne debris images in the same geohash as in train set v6.2, from 7270 images",
    dataset_kind='annotation',  # annotation or image
    mode='stereo',  # stereo or mono
    production_dataset=True,
)
# Dataset.create(
#     name="20230925_halo_rgb_stereo_train_v3_pruned",
#     description="180 images with >0.5 focal loss from dataset 20230925_halo_rgb_stereo_train_v3",
#     kind=Dataset.KIND_ANNOTATION,
#     image_ids=df.id.to_list())

Filtered 0 annotations with non-production label map.
Warning 3345 images do not have a corresponding annotation.
Preparing stereo dataframe for {'T01': 'T03', 'T02': 'T04', 'T05': 'T07', 'T06': 'T08', 'T09': 'T11', 'T10': 'T12', 'T13': 'T15', 'T14': 'T16', 'I01': 'I03', 'I02': 'I04'}...
Size of left dataframe: 3925
Size of stereo dataframe: 3919
Preparing stereo dataframe for {'T02': 'T03', 'T06': 'T07', 'T10': 'T11', 'T14': 'T15', 'I02': 'I03'}...
Size of left dataframe: 1697
Size of stereo dataframe: 1692
Sending 3919 annotated_ids for creating dataset
Time taken to prepare data for dataset creation job: 0.83 mins

## Download a dataset

In [ ]:
# to download large image dataset and save in jpg format, change the following files
# note original files are ending with .bk, and changed files are ending with .save_jpg
# /home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/brtdevkit/data/core/dataset.py
# /home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/brtdevkit/util/aws/s3.py
# /home/li.yu/anaconda3/envs/brtdevkit/lib/python3.9/site-packages/brtdevkit/data/core/dataset.py  # save only one png file

In [6]:
# dataset_name = '20240301_5_million_for_self_supervised_part_0'
dataset_name = 'halo_potential_birds_from_train_8_1'
dataset_dir = os.path.join('/data/jupiter/datasets', dataset_name)
# dataset_dir = os.path.join('/data2/jupiter/datasets', dataset_name)
# dataset_dir = os.path.join('/data/jupiter/li.yu/data', dataset_name)
os.makedirs(dataset_dir, exist_ok=True)

test_dataset = Dataset.retrieve(name=dataset_name)
test_df = test_dataset.to_dataframe()
test_dataset.download(dataset_dir, df=test_df)

In [2]:
dataset_name = '20240301_5_million_for_self_supervised_part_0'
df = pd.read_csv(os.path.join('/data/jupiter/datasets', dataset_name, 'annotations.csv'))
# df = pd.read_csv(os.path.join('/data/jupiter/li.yu/data', dataset_name, 'annotations.csv'))
print(df.shape)
df.iloc[0].artifact_debayeredrgb_0_save_path

/home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (10,20,21,22,23,24,26,27,29,30,31,32,33,34,35,36,46,57,70,84,85,87,91,93,103,106,107,115,132,137,138,140,142,145,146,158,192,193) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(999999, 197)

'images/64bef342438af9b8c7971547.jpg'

In [3]:
files = os.listdir(os.path.join('/data/jupiter/datasets', dataset_name, 'images'))
len(files)

999940

In [4]:
from PIL import Image
from tqdm import tqdm

corrupted = []
for f in tqdm(files, total=len(files)):
    try:
        img = Image.open(os.path.join('/data/jupiter/datasets', dataset_name, 'images', f))
        img.close()
    except:
        corrupted.append(f)
len(corrupted)

100%|██████████| 999940/999940 [18:36<00:00, 895.46it/s]

29

In [22]:
good = list(set(files) - set(corrupted))
good = [f[:-4] for f in good if f.endswith('.jpg')]
print(len(good))

999799

In [23]:
df3 = pd.DataFrame(data={'id': good})
print(df3.shape)
df3.to_csv(os.path.join('/data/jupiter/datasets', dataset_name, 'saved_ids.csv'), index=False)

(999799, 1)