In [1]:
# need to use updated master JupiterCVML code
import sys
sys.path.append('/home/li.yu/code/JupiterCVML/europa/base/src/europa')

import os
os.environ["BRT_ENV"] = 'prod'
import json
import ndjson
import random
import brtdevkit
print(brtdevkit.__version__)
brtdevkit.log = 'info'
import os
os.environ['AWS_PROFILE'] = 'default'

import ast
import time
import numpy as np
import pandas as pd
from tqdm import tqdm
from datetime import datetime, timezone, timedelta

from brtdevkit.core.db.athena import AthenaClient, Table
from brtdevkit.data import Image, Dataset

from aletheia_dataset_creator.dataset_tools.aletheia_dataset_helpers import *
from aletheia_dataset_creator.config.dataset_config import *

pd.set_option('display.max_columns', None)

%matplotlib inline
%load_ext autoreload
%autoreload 2

Internal AWS credentials have been removed from brt-devkit.
To setup AWS credentials, Please follow instructions at : https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html

7.4.3

In [2]:
print(LEFT_CAMERAS)
print(ALL_CAMERA_PAIRS_LIST)

['front-center-left', 'front-left-left', 'front-right-left', 'side-left-left', 'side-right-left', 'rear-left', 'T01', 'T02', 'T05', 'T06', 'T09', 'T10', 'T13', 'T14', 'I01', 'I03', 'I05', 'I07']
[{'front-center-left': 'front-center-right', 'front-left-left': 'front-left-right', 'front-right-left': 'front-right-right', 'side-left-left': 'side-left-right', 'side-right-left': 'side-right-right', 'rear-left': 'rear-right', 'front-center-right': 'front-center-left', 'front-left-right': 'front-left-left', 'front-right-right': 'front-right-left', 'side-left-right': 'side-left-left', 'side-right-right': 'side-right-left', 'rear-right': 'rear-left'}, {'T01': 'T03', 'T02': 'T04', 'T05': 'T07', 'T06': 'T08', 'T09': 'T11', 'T10': 'T12', 'T13': 'T15', 'T14': 'T16'}, {'T02': 'T03', 'T06': 'T07', 'T10': 'T11', 'T14': 'T15'}, {'I01': 'I02', 'I03': 'I04', 'I05': 'I06', 'I07': 'I08'}]

In [27]:
# check if all groups contain left and right images
def filter_single_cameras(df):
    incomplete_group_ids = df['group_id'].value_counts()[lambda x: x % 2 != 0].index.tolist()
    df = df[~df.group_id.isin(incomplete_group_ids)]
    return df

In [3]:
test_dataset = Dataset.retrieve(id='6554529d956f45c46b94ac64')
# test_dataset = Dataset.retrieve(name='dynamic_manny_in_dust_raw')
print(test_dataset.id)
test_df = test_dataset.to_dataframe()
test_df.shape

6554529d956f45c46b94ac64

(153985, 647)

In [4]:
# test_dataset = Dataset.retrieve(id='6554529d956f45c46b94ac64')
test_dataset2 = Dataset.retrieve(name='Jupiter_human_on_path_3_fn_sequence')
print(test_dataset2.id)
test_df2 = test_dataset2.to_dataframe()
test_df2.shape

653a81a98d90e240199d31c0

(416, 122)

In [5]:
len(set(test_df.columns).intersection(set(test_df2.columns)))

121

In [16]:
CAMERA_LOCATION = 'camera_location'
LEFT = 'left'
RIGHT = 'right'
GROUP_ID = 'group_id'
LEFT_SUFFIX: str = f"_{LEFT}"
RIGHT_SUFFIX: str = f"_{RIGHT}"

def remove_lr_suffix(
    in_str: str, left_suffix: str = LEFT_SUFFIX, right_suffix: str = RIGHT_SUFFIX
) -> str:
    """
    Remove the left_suffix or the right_suffix from in_str.
    If neither is a suffix, return the `in_str`
    """
    out_str = in_str
    for suffix in [left_suffix, right_suffix]:
        if out_str.endswith(suffix):
            out_str = out_str[: -len(suffix)]
            return out_str
    return in_str

In [17]:
dataframe = test_df
stereo_camera_location_col = "stereo_camera_location"

# Add a temporary column to identify the stereo camera which produced the stereo image
dataframe.loc[:, stereo_camera_location_col] = dataframe.loc[:, CAMERA_LOCATION].apply(
    lambda x: remove_lr_suffix(x, f"-{LEFT}", f"-{RIGHT}")
)

# # Filter (by camera location)
# dataframe = dataframe[
#     dataframe.loc[:, stereo_camera_location_col].isin(self.camera_location)
# ]

# Left-Right split
left_camera_df = dataframe[
    dataframe.loc[:, CAMERA_LOCATION].apply(lambda x: x.endswith(LEFT))
]
right_camera_df = dataframe[
    dataframe.loc[:, CAMERA_LOCATION].apply(lambda x: x.endswith(RIGHT))
]

In [18]:
left_camera_df.shape, right_camera_df.shape

((54733, 676), (54733, 676))

In [19]:
dataframe = left_camera_df.merge(
    right_camera_df[[GROUP_ID, stereo_camera_location_col]],
    how="inner",
    on=[GROUP_ID, stereo_camera_location_col],
    suffixes=[LEFT_SUFFIX, RIGHT_SUFFIX],
)
dataframe.shape

(54733, 676)

In [20]:
len(set(list(left_camera_df.columns)).intersection(set(list(right_camera_df.columns))))

676

In [21]:
len(set(left_camera_df.group_id.to_list())), len(set(left_camera_df.group_id.to_list()).intersection(set(right_camera_df.group_id.to_list())))

(53301, 53301)

In [31]:
df.shape, test_df.shape

((155900, 4), (153985, 647))

In [32]:
test_df2[['id', 'camera_location']].groupby('camera_location').count()

                       id
camera_location
front-center-left   31212
front-center-right  31212
front-left-left      8641
front-left-right     8641
front-right-left     7468
front-right-right    7468
rear-left           11638
rear-right          11638
side-left-left       9672
side-left-right      9672
side-right-left      8177
side-right-right     8177

In [3]:
def convert_label_column(row):
    row['Humans'] = row["label_counts"].get("Humans", 0)
    row['Vehicles'] = row["label_counts"].get("Tractors or Vehicles", 0)
    row['Dust'] = row["label_counts"].get("Heavy Dust", 0)
    return row

def get_object_location(object_mask):
    rows, cols = np.where(object_mask)
    return np.min(rows), np.max(rows), np.min(cols), np.max(cols)

In [11]:
root_dir = '/data2/jupiter/datasets/Jupiter_train_v6_2'
csv = '/data/jupiter/li.yu/data/Jupiter_train_v6_1/epoch0_5_30_focal05_master_annotations.csv'
converters = {"label_map": ast.literal_eval, "label_counts": ast.literal_eval}
df = pd.read_csv(csv, converters=converters)
print(df.shape)
# get human and vehicle counts in images
df = df.apply(lambda row: convert_label_column(row), axis=1)
print(df.shape)

/home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (6,7,39,223,225,227,230,247,251,254,267,308,324,327,337,338,346,354,370,371,373,376,377) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(317956, 434)
(317956, 437)

In [12]:
df[['id', 'is_multi_human']].groupby('is_multi_human').count()

                   id
is_multi_human
False           46646
True            11129

In [13]:
# sort out subsets to save
human_df = df[(df.Humans > 100) & (df.Humans < 50000) & (df.is_multi_human != True) & (df.occluded_humans != True)]
vehicle_df = df[(df.Vehicles > 100) & (df.Vehicles < 80000)]
dust_df = df[(df.Dust > 100) & (df.Dust < 50000) & (df.is_multi_human != True) & (df.occluded_humans != True)]
# ioi_df = pd.concat([human_df, vehicle_df, dust_df], ignore_index=True)  # image of interest
ioi_df = pd.concat([human_df, dust_df], ignore_index=True).drop_duplicates(subset='id')  # image of interest
ofs_df = df[(df.Humans == 0) & (df.Vehicles == 0)]  # out of scope
# print(human_df.shape, vehicle_df.shape, dust_df.shape)
print(human_df.shape, dust_df.shape)
print(ioi_df.shape, ofs_df.shape)

(38299, 437) (12407, 437)
(50485, 437) (240883, 437)

In [43]:
# human_df[['id', 'collected_on', 'camera_location', 'robot_name', 'bag_name']].to_csv('/data/jupiter/li.yu/data/Jupiter_train_v6_1/v61_single_humans.csv', index=False)

In [19]:
human_df['datetime'] = human_df.collected_on.apply(datetime.fromisoformat)

<ipython-input-19-d7931274cc6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  human_df['datetime'] = human_df.collected_on.apply(datetime.fromisoformat)

In [24]:
collected_dt = human_df.iloc[0].datetime
camera_location = human_df.iloc[0].camera_location[:-5]
robot_name = human_df.iloc[0].robot_name
collected_dt, camera_location, robot_name

(Timestamp('2021-09-20 21:06:34.333000'), 'side-right', 'peaty_03')

In [37]:
delta = timedelta(seconds=10)
start_datetime = str(collected_dt - delta)[:-7]
end_datetime = str(collected_dt + delta)[:-7]
start_datetime, end_datetime

('2021-09-20 21:06:24', '2021-09-20 21:06:44')

## Run query on Databricks Warehouse

In [102]:
from databricks import sql

connection = sql.connect(
                        server_hostname = "dbc-67a19da0-a8c7.cloud.databricks.com",
                        http_path = "/sql/1.0/warehouses/681fe1612a5b9f96",
                        access_token = "dapi34534145f146299defded345693f0784")

cursor = connection.cursor()

In [14]:
def run_query(df_row, cursor):
    # get key words
    collected_dt = df_row.datetime
    camera_location = df_row.camera_location[:-5]
    robot_name = df_row.robot_name
    delta = timedelta(seconds=10)
    start_datetime = str(collected_dt - delta)[:-7]
    end_datetime = str(collected_dt + delta)[:-7]
    # get query statement
    stmt = \
    f"""
    SELECT id, group_id, camera_location, collected_on
    FROM mesa_prod.mesa_lake_prod.image_jupiter T
    WHERE 
        T.collected_on > TIMESTAMP '{start_datetime}'
        AND T.collected_on < TIMESTAMP '{end_datetime}'
        AND T.robot_name = '{robot_name}'
        AND T.camera_location LIKE '{camera_location}%'
    """
    # run query
    cursor.execute(stmt)
    res = cursor.fetchall()
    # convert to df
    if len(res) > 0:
        df = pd.DataFrame(columns=list(res[0].asDict().keys()))
        df = pd.DataFrame.from_dict([r.asDict() for r in res])
        return df
    print(f'failed for {df_row.id}')
    return None

In [86]:
df = run_query(human_df.iloc[1], cursor)
print(df.shape)

(112, 280)

In [7]:
sub_human_df = human_df.sample(1000)
save_dir = '/data/jupiter/li.yu/data/Jupiter_train_v6_1/v61_single_human_sequence_csvs'
os.makedirs(save_dir, exist_ok=True)

In [103]:
# check finished ones
finished_ids = [f[:-4] for f in os.listdir(save_dir)]
sub_human_df = sub_human_df[~sub_human_df.id.isin(finished_ids)]
print(sub_human_df.shape)
for i,row in tqdm(sub_human_df.iterrows(), total=len(sub_human_df)):
    df = run_query(row, cursor)
    if df is not None:
        csv_path = os.path.join(save_dir, row.id+'.csv')
        df[['id', 'group_id', 'camera_location', 'collected_on']].to_csv(csv_path, index=False)

(972, 438)

In [116]:
cursor.close()
connection.close()

In [8]:
# collect all dfs
finished_ids = [f[:-4] for f in os.listdir(save_dir)]
dfs = []
for id in finished_ids:
    df = pd.read_csv(os.path.join(save_dir, id+'.csv'))
    df = filter_single_cameras(df)
    if len(df) >= 10:
        dfs.append(df)
df = pd.concat(dfs, ignore_index=True)
df.shape

(155900, 4)

In [9]:
len(dfs), df.shape

(1784, (155900, 4))

## Run query on Athena

In [35]:
# hard_drive_name = 'JUPD-048_2022-09-27'
# start_datetime  = datetime(2021, 12, 16, hour=22, minute=14, second=0) #, tzinfo=timezone.utc)
# end_datetime  = datetime(2021, 12, 16, hour=22, minute=14, second=35) #, tzinfo=timezone.utc)
# start_datetime  = datetime(2022, 9, 28, tzinfo=timezone.utc) #, hour=3, minute=33, second=33) #, tzinfo=timezone.utc)
# start_datetime  = datetime(2023, 8, 28, hour=0, minute=0)   #, tzinfo=timezone.utc)
# end_datetime    = datetime(2023, 8, 30, hour=23, minute=59)  # this is EXclusive

database = "mesa-data-catalog-prod"
table = "image_jupiter"

query = \
f"""
SELECT *
FROM {table} T
WHERE 
    T.collected_on > TIMESTAMP '{start_datetime}'
    AND T.collected_on < TIMESTAMP '{end_datetime}'
    AND T.robot_name = '{robot_name}'
    AND T.camera_location LIKE '{camera_location}%'
"""

"""
SELECT
        *
    FROM annotation_jupiter
    WHERE
     annotation_jupiter.image IN ('642607df1620247e2285d6ac')
"""

"""
SELECT id, camera_location, operation_time, collected_on, state, county, operating_field_name, hdr_mode, robot_name, special_notes
T.collected_on >= cast('{start_datetime}' as timestamp)
    AND T.collected_on < cast('{end_datetime}' as timestamp)
    AND T.camera_location LIKE 'front-%'
    AND T.camera_location LIKE '%-left'
    AND T.hard_drive_name = 'JUPD-154_2023-01-14'
    AND T.robot_name LIKE 'loamy%'
    AND T.operation_time != 'daytime'
    AND T.has_nearby_stop_event = true
ORDER BY RAND()
LIMIT 40000
"""

start = time.time()
athena = AthenaClient()
df = athena.get_df(query)
end = time.time()
print(end - start, 's')
df.shape, len(df) // 2

17.60246181488037 s

((58, 254), 29)

## Create a dataset

In [3]:
# df = pd.read_csv('./dust_threshold/human_vehicle_in_dust_for_train_total.csv')
# df = pd.read_csv('./dust_threshold/dust_productivity.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/driveable_not_labeled.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/less_than_half_labeled.csv')
# df = pd.read_csv('/data/jupiter/datasets/Jupiter_train_v5_11/less_than_half_or_driveable_not_labeled_for_relabeling.csv')
df = pd.read_csv('/data/jupiter/li.yu/exps/driveable_terrain_model/rgb_baseline_sample_a_v3_2/20230925_halo_rgb_stereo_train_v3_epoch0/pruned_ids.csv')
df.shape

(180, 2)

In [21]:
# unlabeled dataset
Dataset.create(
    name="Jupiter_rev1_train_1784_human_sequences_stereo",
    description="1784 20s sequences for 1784 images in train set v6.1, 153616 images",
    kind='image',
    image_ids=test_df2.id.to_list())

{}

In [26]:
imageids_to_dataset(
    image_ids=test_df[test_df.camera_location.str.endswith('left')].id.to_list(),
    dataset_name="20230823_labeled_right_images_12k_left_images_labels",
    dataset_description="left images and labels of 20230823_labeled_right_images_12k",
    dataset_kind='annotation',  # annotation or image
    mode='mono',  # stereo or mono
    camera_location=CORE_LEFT_CAMERAS,  # CORE_LEFT_CAMERAS or CORE_RIGHT_CAMERAS or ALL_CORE_CAMERAS
)
imageids_to_dataset(
    image_ids=test_df[test_df.camera_location.str.endswith('right')].id.to_list(),
    dataset_name="20230823_labeled_right_images_12k_right_images_labels",
    dataset_description="right images and labels of 20230823_labeled_right_images_12k",
    dataset_kind='annotation',  # annotation or image
    mode='mono',  # stereo or mono
    camera_location=CORE_RIGHT_CAMERAS,  # CORE_LEFT_CAMERAS or CORE_RIGHT_CAMERAS or ALL_CORE_CAMERAS
)

INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Filtered 308 annotations.
Sending 12166 annotated_ids for creating dataset
Time taken to prepare data for dataset creation job: 2.07 mins
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Filtered 0 annotations.
Sending 12166 annotated_ids for creating dataset
Time taken to prepare data for dataset creation job: 2.15 mins

In [4]:
# # in master branch halo datasets
# annotations = imageids_to_annotation_df(
#     image_ids=df.id.to_list(),
# )

imageids_to_dataset(
    image_ids=df.id.to_list(),
    dataset_name="20230925_halo_rgb_stereo_train_v3_high_focal_loss",
    dataset_description="180 images with >0.5 focal loss from dataset 20230925_halo_rgb_stereo_train_v3",
    dataset_kind='annotation',  # annotation or image
    mode='stereo',  # stereo or mono
)
# Dataset.create(
#     name="20230925_halo_rgb_stereo_train_v3_pruned",
#     description="180 images with >0.5 focal loss from dataset 20230925_halo_rgb_stereo_train_v3",
#     kind=Dataset.KIND_ANNOTATION,
#     image_ids=df.id.to_list())

INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Filtered 4 annotations.
Warning 38 images do not have a corresponding annotation.
Preparing stereo dataframe...
Size of left dataframe: 129
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Size of stereo dataframe: 129
Preparing stereo dataframe...
Size of left dataframe: 90
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Size of stereo dataframe: 90
Preparing stereo dataframe...
Size of left dataframe: 13
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
Size of stereo dataframe: 13
Sending 142 annotated_ids for creating dataset
Time taken to prepare data for dataset creation job: 2.46 mins

## Download a dataset

In [6]:
dataset_name = 'Jupiter_rev1_train_1784_human_sequences'
# dataset_dir = os.path.join('/data/jupiter/datasets', dataset_name)
dataset_dir = os.path.join('/data/jupiter/li.yu/data', dataset_name)
os.makedirs(dataset_dir, exist_ok=True)

test_dataset = Dataset.retrieve(name=dataset_name)
test_df = test_dataset.to_dataframe()
test_dataset.download(dataset_dir, df=test_df)

2023-11-16 11:58:48,945 - Dataset - INFO - start downloading dataset: 6554529d956f45c46b94ac64 into /data/jupiter/li.yu/data/Jupiter_rev1_train_1784_human_sequences
/home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/pandas/core/frame.py:3641: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[k1] = value[k2]
100%|██████████| 378854/378854 [10:08<00:00, 622.90it/s]
2023-11-16 12:11:48,769 - Dataset - INFO - finished downloading dataset: 6554529d956f45c46b94ac64

In [22]:
test_df = pd.read_csv(os.path.join(dataset_dir, 'annotations.csv.old'))
test_df.shape

/home/li.yu/anaconda3/envs/pytorchlightning/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (0,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,24,25,26,27,28,29,30,31,32,33,34,36,37,38,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,58,59,60,61,62,63,64,65,66,67,68,70,71,72,73,75,76,78,79,81,82,83,84,85,87,88,89,90,92,93,95,96,98,99,100,101,102,104,105,106,107,109,110,112,113,115,116,117,118,119,121,122,123,124,126,127,128,129,130,132,133,134,135,136,138,139,140,141,143,144,145,146,147,149,150,151,152,153,155,156,157,158,160,161,162,163,164,165,166,167,168,172,173,174,175,177,178,179,180,181,182,183,184,185,189,190,191,192,194,195,196,197,198,199,200,201,202,206,207,208,209,211,212,213,214,215,216,217,218,219,223,224,225,226,228,229,231,232,234,235,236,240,241,242,243,245,246,248,249,251,252,253,257,258,259,260,262,263,265,266,268,269,270,274,275,276,277,279,280,281,282,283,285,286,287,288,289,291,292,293,294,296,297,298,299,300,301,302,303,304,305,306,308,309,310,311,313,314,315,316,317,318,319,320,321,322,323,325,326,327,328,330,331,332,333,334,335,336,337,338,339,340,342,343,344,345,347,348,349,350,351,352,353,354,355,356,357,359,360,361,362,364,365,366,367,368,369,370,371,372,373,374,376,377,378,379,381,382,383,384,385,386,387,388,389,390,391,393,394,395,396,398,399,401,402,404,405,406,407,408,410,411,412,413,415,416,418,419,421,422,423,424,425,427,428,429,430,432,433,434,435,436,438,439,440,441,442,444,445,446,447,449,450,451,452,453,455,456,457,458,459,461,462,463,464,466,467,468,469,470,472,473,474,475,476,479,480,482,483,484,488,489,492,493,496,499,501,502,503,504,505,506,507,510,511,512,515,516,519,520,523,524,526,527,528,529,530,532,533,534,535,536,537,538,539,541,542,543,544,545,547,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,581,582,583,584,585,586,587,588,589,591,593,596,597,598,599,600,602,604,606,607,608,609,610,612,613,614,615,616,617,619,621,623,625,626,628,629,630,631,632,633,634,635,636,637,639,642,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(153985, 675)

In [23]:
test_df.drop_duplicates(subset=['id', 'group_id'], inplace=True)
test_df.shape

(109466, 675)

In [15]:
test_df.to_csv(os.path.join(dataset_dir, 'annotations.csv'), index=False)